body {
  background-color:white;
  
}

.card-wrapper {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gainsboro;
}

.card-wrapper .card-image img {
  width: 50%;
  height: 60%;
}

.card-wrapper .card-content {
  color: #555;
}

.description{
color: #4e4e4e;
}
.card-wrapper .card-content .date {
  display: inline-block;
  margin-top: 10px;
 
}

.card-wrapper .card-link .link {
  text-decoration: none;
}
