body {
  background-color:whitesmoke;
  
}

.card-wrapper {
  width: 15%;
  background-color: #fff;
  border: #fff;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid gray; */
}

.img{
  width: 100%;
 
}

.card-wrapper .card-content {
  color: #555;
  margin: 15px,20px;
}

.description{
color: #4e4e4e;
}
.card-wrapper .card-content .date {
  display: inline-block;
  margin-top: 10px;
 
}

.card-wrapper .card-link .link {
  text-decoration: none;
  
  
}
